STEAM_USER="YourSteamUsername"
STEAM_PASS="YourSteamPassword"
BETA_CODE="SteamBetaCode"
STEAM_BRANCH="headless"
LOG_RETENTION="30"
ENABLE_GIT_CONFIG="false"
ENABLE_GIT_MODS="false"
GIT_URL="URL"
GIT_REPOSITORY_PRIVATE="false"
GIT_USERNAME="username"
GIT_ACCESS_TOKEN="ACCESS-TOKEN"
KEEP_IN_SYNC="false"

#ENABLE_MODS is located in the compose files by default for a per server config. 
#If you want all servers in a compose stack to be modded add this to your env file.

# Automatic mod installation

# Enable / Disable automatic updating of mods
ENABLE_AUTO_MOD_UPDATE="false"

# Enable Mods
MOD_HeadlessTweaks="true" # HeadlessTweaks
MOD_StresslessHeadless="false" # StresslessHeadless
MOD_ResoniteIPv6Mod="false" # ResoniteIPv6Mod. WARNING: If you do not have functioning IPv6 connectivity in your Docker environment, you may have issues.
